In [25]:
import pandas as pd
import numpy as np

In [27]:
movies_df = pd.read_csv(r"C:\Users\SANJANA\Downloads\Movie.csv")

In [29]:
movies_df.shape

(8992, 3)

In [31]:
movies_df[0:5]

   userId             movie  rating
0       3  Toy Story (1995)     4.0
1       6  Toy Story (1995)     5.0
2       8  Toy Story (1995)     4.0
3      10  Toy Story (1995)     4.0
4      11  Toy Story (1995)     4.5

In [33]:
len(movies_df.userId.unique())

4081

In [35]:
len(movies_df.movie.unique())

10

In [37]:
movies_df.movie.unique()

array(['Toy Story (1995)', 'Jumanji (1995)', 'Grumpier Old Men (1995)',
       'Waiting to Exhale (1995)', 'Father of the Bride Part II (1995)',
       'Heat (1995)', 'Sabrina (1995)', 'Tom and Huck (1995)',
       'Sudden Death (1995)', 'GoldenEye (1995)'], dtype=object)

In [39]:
user_movies_df = movie_df.pivot(index='userId',columns='movie',values='rating').reset_index(drop=True)

NameError: name 'movie_df' is not defined

In [41]:
user_movies_df

NameError: name 'user_movies_df' is not defined